  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 8px 16px;
  width: 78vw;
  float: right;
  background-color: #dcdcdc;
}
.logo {
  width: 30px;
  height: auto;
  display: block;
  margin: 15px auto;
  position: absolute;
  object-fit: contain;
}
.thumbnail {
  width: 100px;
  height: auto;
  object-fit: cover;
  position: relative;
}
.responsive-thumbnail {
  max-width: 100%;
  height: auto;
}
.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.gallery a {
  display: block;
  text-decoration: none;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;
  transition: none;
}
.gallery a:hover {
  border-color: #8c8c8c;
}
.gallery img {
  display: block;
  width: 50px; /*Thumbnail size */
  height: auto;
}

footer {
  padding: 1vw;

}
.clearfix {
  clear: both;
}
  
  /* responsive design */
.topnav {
    color: #0a6b96;
    display: flex;
    padding: 10px 0;
    font-family: "Georgia", cursive;
    font-size: medium;
    position: sticky;
    overflow: hidden;
  
  }
/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #0a6b96;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8c8c8c;
  display: flex;
}
.topnav li {
  flex: 1;
}
  /* Change the color of links on hover */
.topnav a:hover {
  color: #663399;
  background-color: none;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  color: black;
  background-color: whitesmoke;
}
  
.topnav .icon {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0,0,0,0);
}
