<style>
* {box-sizing: border-box;
}
body {
	width: 100%;
	padding:0;
	margin: 0;
	background-color: #d3d3d3;
	font-family: Georgia;
	line-height: 1.4;
}
.header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}
nav class="menu" {
	overflow: hidden;
	background-color: red;
}
nav class a {
	float:left;
	display:block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.column {
	float:left;
	width: 50%;
	padding:15px;
}
.row::after {
	content: "";
	display: table;
	clear:both;
}
p {
	font size: 14px;
}
a:hover {
	color: #F61125;
	text-decoration: underline;
}
a:visited {
	color: 1B85E8;
	text-decoration: none;
}
a:active {
	color: #FF9900
	text-decoration: none;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size= 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #DDDDDD;
}
li {
	float:left;
}
li a {
	display:block;
	color: white;
	text-align:center;
	padding:14px 16px;
	text-decoration: none;
}
table {
	width: 100%;
	background-color: #DDDDDD;
}
td {
	padding: 5px;
	background-color: #F0F0F0;
	font-size: 13px;
}
hr {
	border-color: #999999 1px solid;
}
fieldset {
	padding: 0;
	margin:0;
	border:0;
}
dt {
	font-size: 15px;
}
dd {
	margin-top: 5px;
	margin-left:25px;
	font-size: 14px;
}
label {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	cursor: default;
}
</style>
