<b>CSS Colors</b>
h1 {
color:#000000;}

p {
color:934BC8;}



<b>CSS Font-Family</b>

Georgia



<b>CSS Font Size</b>
30px = <h1></h1>
14 px = <p></p>


<b>CSS Backgrounds</b>

background-color: #f9ade9;






